*{
    margin: 0;
    padding: 0;
    font-family:poppins;

}
@font-face {
    font-family:poppins bold;
    src: url(./agenceco-website/Assets/Polices/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family:poppins;
    src: url(./agenceco-website/Assets/Polices/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family:poppins light;
    src: url(./agenceco-website/Assets/Polices/Poppins/Poppins-ExtraLight.ttf);
}


nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    background: white;
}
.nav-left {
    padding-left: 2%;
    color: #005530;
    font-family: poppins bold;
    width: 50%;
}
.nav-left a{text-decoration: none;
    color: #005530;
    font-family: poppins bold;
    

}
    .nav-left em{color: #005530;
        font-family: poppins bold;
        font-size: 17px;
        }

    .nav-right { width: 60%;
        display: flex;
        align-items: center;
    }
    
.nav-right ul{
    width: 100%;
    list-style: none;
    font-size: 70%;
    display: flex;
    justify-content: space-between;
    padding-right: 2%;
    align-items: center;
    white-space: nowrap;

    
    

}
header{
    background-image: url(./agenceco-website/Assets/Images/rodion-kutsaev-049M_crau5k-unsplash\ 1.jpg);
    object-fit: cover;
   
    height: 500px;
    display: flex;
    flex-direction: column;
    h2{color: white;
        font-family:poppins bold;
        font-size: 28px;
        height: 80%;
        display: flex;
        justify-content: flex-end;
        padding-right: 4%;
        align-items: flex-end;
    }
    h1{color: #D5F31F;
    font-size: 35px;
    font-family:poppins bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    
        }
}
.team1{
    margin-top: 4%;
    text-align: center;

    h2{
        color: #007844;}
        font-size: 20px;

    h3{
        margin-top: 2%;
        text-align: center;
        font-size: 16px;
        padding-left: 10%;
        padding-right: 10%;
        
    }  
}
.team2 {
    margin-top: 4%;
    display: flex;
    margin-bottom: 4%;
    
}
.team2 img{ 
    width: 150px;
    height: 150px;
border-radius: 50%;
object-fit: cover;


}
.team2 h3{text-align: center;
margin-top: 2%;}
.team2 p {text-align: center;
font-family:poppins light;
font-size: 11px;
width: 50%;
margin-top: 2%;}
.member1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.down1 ul{display: flex;
list-style: none;
justify-content: space-around;
color: #D5F31F;
background-color: #053b44;
font-size: 30px;
font-family:poppins bold;
font-weight: 900;
padding-top: 20px;
}
.down2 ul{ 
    display: flex;
list-style: none;
justify-content: space-around;
background-color: #053b44;
color: white;
padding-bottom: 20px;}

#services h2{
    padding-top: 4%;
    text-align: center;
    color: #007844;
    font-size: 30px;
}

.logos{
    margin-top: 4%;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;

}
.logo1{
    height: 250px;
    width: 250px;
    background-color: rgba(220, 238, 232, 0.413);
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.img{background-color: rgba(220, 238, 232, 0.413);
width: 50%;
height: 50%;
border-radius: 10px;


}
.logo1-text{text-align: center;
    font-size: 130%;
    margin-top: 4%;}
    .logo2{
        height: 250px;
        width: 250px;
        background-color: rgba(220, 238, 232, 0.413);
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
.img2{
    background-color: rgba(220, 238, 232, 0.413);
    width: 50%;
    height: 50%;
    border-radius: 10px;
 }

.logo2-text{text-align: center;
font-size: 130%;
margin-top: 4%;}

#contact{
    background-color: #053b44;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    margin-top: 4%;
    width: 100%;
}
#contact h2{color: #D5F31F;}
#contact p {color: white;padding-top: 2%;}


.form-left {
    width: 100%;
    min-width: 800px;
    display: flex;
    margin-top: 4%;

    }
.form-left ::placeholder{color: white;font-size: 12px;}
    #name{background-color: #053b44;
        font-family:poppins light;
        border-style: none;
        border-bottom: 2px solid white;
        width: 50%;
        margin-left: 4%;
        }

    #cat{background-color: #053b44;
        font-family:poppins light;
        border-style: none;
        border-bottom: 2px solid white;
        width: 50%;
        margin-left: 4%;
        }

        .form-right {
            width: 100%;
            min-width: 800px;
            display: flex;
            margin-top: 4%;
        
            }
    .form-right ::placeholder{color: white;font-size: 12px;}
    #tel{background-color: #053b44;
        font-family:poppins light;
        border-style: none;
        border-bottom: 2px solid white;
        width: 50%;
        margin-left: 4%;
        }
    #city{background-color: #053b44;
        font-family:poppins light;
        border-style: none;
        border-bottom: 2px solid white;
        width: 50%;
        margin-left: 4%;
        }
    .email {
        width: 100%;
        min-width: 800px;
        display: flex;
        margin-top: 4%;
    }
    .email ::placeholder{color: white;font-size: 12px;}
    #email{background-color: #053b44;
        font-family:poppins light;
        border-style: none;
        border-bottom: 2px solid white;
        margin-left: 4%;
        width: 100%;
        }
    .message {
        width: 100%;
        min-width: 800px;
        display: flex;
        margin-top: 4%;
    }
    .message ::placeholder{
        color: white;
        font-size: 12px;}
    .message textarea{
        background-color: #053b44;
        font-family:poppins light;
        border-style: none;
        border-bottom: 2px solid white;
        margin-left: 4%;
        width: 100%;
        
        }
    .submit-button{
        display: flex;
        justify-content: flex-end;
        margin-top: 4%;
        margin-bottom: 10%;}
    .submit-button button{
        background: #D5F31F;
        border-radius: 150px;
        width: 120px; 
        height: 40px;
        text-align: center;
        font-family:poppins;
        font-size: 12px;}

        #about{display: flex;
           padding: 4% 11%;}

    .about-left{
        width: 50%;
    display: flex;
    justify-content: flex-end;
    
        }

    .about-left img{
        width: 100%;
        border-radius: 20px;
        height: 100%;
    margin-right: 2%;}

    .about-right{
        width: 50%;
        display: flex;
        
    
}
    .about-right-container {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        h3{
            text-align: center;
            padding-bottom: 2%;}
        p{
            text-align: center;
            font-family:poppins light;
            padding-left: 4%;
            padding-right: 4%;
            font-size: 12px;
        }
}
    .ar-logos{
        padding-top: 2%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
}
    .logo-container1{border: 2px solid black;
        border-radius: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
}
    .logo-container1 img{width: 30px;
        height: fit-content;
    }
    .logo-container2{border: 2px solid black;
        border-radius: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
    }
    .logo-container2 img{width: 30px;
        height: fit-content;}
    .logo-container3{border: 2px solid black;
        border-radius: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        }
        .logo-container3 img{width: 30px;
            height: fit-content;}

    .ar-text{
        padding-top: 2%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        p{font-family:poppins ;}
        }
    #Gallery{
        padding-top: 4%;
        width: 100%;
        display: flex;
        flex-direction: column;
    h2{ text-align: center;
        color: #007844;
        font-size: 30px;}
        p{text-align: center;
        padding-left: 12%;
        padding-right: 12%;}}
    .gallery-img-container{
        width: 80%;
        height: 450px;
        padding-top: 4%;
        padding-left: 10%;
        border-radius: 10px;
    }    
    img{width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        }

    .buttons{display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    
}
    .buttons button{
    border: 1px solid black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    }
    /* Permet des changer les caractéristiques du boutton lorsqu il est appuyé */
    .buttons button:active{background-color:#053b44;
    color: #D5F31F;}

    #bottom-bar{display: flex;
    justify-content: space-between;
    color: white;
    background:#053b44;
    margin-top: 2%;
    padding: 2% 9%;}

    .bb1{display: flex;
    flex-direction: column;
    justify-content: center;
    h3{font-size: 15px;}
    h4{font-size: 10px;}}
  
    .bb2{display: flex;
        flex-direction: column;
        justify-content: center;
        h3{font-size: 15px;}
        h4{font-size: 10px;}}
      
    .bb3{display: flex;
        flex-direction: column;
        justify-content: center;
        h3{font-size: 15px;}
        h4{font-size: 10px;}}
          
    .bb4{display: flex;
        flex-direction: column;
        justify-content: center;
        h3{font-size: 15px;}
        h4{font-size: 10px;}}

    .bb5{
        width: 120px;
        h3{font-size: 15px;}
        h4{font-size: 10px;}
        display: flex;
        justify-content: space-between;
        }
    .bb5-logos{ display: flex;
        flex-direction: column;
        justify-content: space-around;}
    .bb5-l1{height: 20px;}
    .bb5-l2{height: 20px;}
        
    footer{display: flex;
        padding: 2% 9%;
        background: black;
        color: white;}
    .footer-left{width: 50%;
        p{font-size: 10px;
        font-family:poppins light;}}
    .footer-right{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
    img{width: 50%;
        height: 50%;
        filter: invert(1);
        border-radius: 0;
        
        
}}
    .fr-logo1{
        border: 1px solid white;
        border-radius: 6px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .fr-logo2{
        border: 1px solid white;
        border-radius: 6px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fr-logo3{
        border: 1px solid white;
        border-radius: 6px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
                  
              
                    






